<!DOCTYPE html>
<html lang="en">
<head>
<title>Avalon</title>
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='bootstrap') }}/lib/bootstrap.less">
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='avalon.less') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='avalon.js') }}"></script>
<script type="text/javascript" language="javascript">
// $(document).ready(function() {
//   $('#{{ tab }}').addClass('active');
// });

var session = {
  username: '{{ session.username }}'
};
</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

{% block header %}{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='less-1.1.5.min.js') }}"></script>
<div class=page>
  <header class = "header">
  <div class = "container">
  <a id="home-text" data-bypass href="{{ url_for('index') }}" ><span class="h1">Avalon</span></a>
         <span id="right-links">
        {% if not session.logged_in %}
          <a href="{{ url_for('login') }}">Login</a> | 
          <a href="{{ url_for('register') }}">Register</a>
        {% else %}
          {{ session.username }} |
          <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </span>
   <ul >
        <a href="{{ url_for('index') }}"><li id="browse-tab">Browse</li></a>
        <a href="/discover"><li id="about-tab">Discover</li></a>
        <!--<a href="#" onclick="return false;"><li id="view-tab">View</li></a>-->
        <a href="/profile"><li id="profile-tab">Profile</li></a>
        <a href="/i/4f3871c0af078868ac0000bb"><li id="about-tab">Feedback</li></a>
        <a href="/i/4f3871c0af078868ac000011"><li id="about-tab">About</li></a>
        
      </ul>

  </div>
  </header>
  <div class="container">
   
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</html>