{% extends "layout.html" %}
{% block header %}
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='page.less') }}">
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap') }}/js/bootstrap-tabs.js"></script>
<script type="text/javascript" language="javascript">
var item_list = {};
var rel_list = {};
var node_list = {};
var slide_list = [];
//var user_list = {};
var parent_id = 'root';
var child_id = null;

// variables for manipulating slides
var currentPosition = 0;
var slideWidth = 480;
var slides;
var numberOfSlides;
var lastSlide = 941;

var inputDiv = function() {
  return $('<div />').addClass('input');
};

var clearfix = function() {
    return $('<div />').addClass('clearfix');
};

{% if not session.logged_in %}
  var username = null;
{% else %}
  var username = '{{ session.username }}';
{% endif %}

/**
 * checks to see if node is in node_list 
 */
function inNodeList(node_id) {
  var ret = false;
  //for (var i = 0; i < node_list.length; i++) {
  for (var key in node_list) {
    if (node_id === node_list[key].id){
      ret = true;
      break;
    }
  }
  return ret;
}

/*
 * adds the given node info the data on this client
 */
function addNodeInfo(ni) {
  node_list[ni.rel._id] = {
    id: ni.rel._id,
    child_rel_ids: [],
    parent_ids: [],
  };

  item_list[ni.item._id] = ni.item
  for (var i = 0; i < ni.parent_items.length; i++) {
    item_list[ni.parent_items[i]._id] = ni.parent_items[i];
    node_list[ni.rel._id].parent_ids.push(ni.parent_items[i]._id);
  }
  for (var i = 0; i < ni.child_items.length; i++) {
    item_list[ni.child_items[i]._id] = ni.child_items[i];
  }

  rel_list[ni.rel._id] = ni.rel;
  for (var i = 0; i < ni.child_rels.length; i++) {
    rel_list[ni.child_rels[i]._id] = ni.child_rels[i];
    node_list[ni.rel._id].child_rel_ids.push(ni.child_rels[i]._id)
  }

  // for (var i = 0; i < ni.users.length; i++) {
  //   user_list[ni.users[i].name] = ni.users[i];
  // };
}

/**
 * gets the ID from an node html element 
 */
function getIdOf(node) {
  var n_id = node.find('.node').attr('id');
  n_id = n_id.split('_')[1];
  if (n_id === 'root') return n_id;
  return n_id;
}

/**
 * changes the votecount of the given relation everywhere the relation is stored
 */
function updateVC(rel_id, uv_c, dv_c) {
  rel_list[rel_id].upvotes += uv_c;
  rel_list[rel_id].downvotes += dv_c;
  var new_vc = rel_list[rel_id].upvotes - rel_list[rel_id].downvotes;
  $('#n_' + rel_id + ' .vc-num').text(new_vc);
  $('#c_' + rel_id + ' .child-vc').text(new_vc);
}

/**
 * Handles voting functionality. Sends vote action to the server and refreshes page
 * @todo Change so that it doesn't refresh page and just updates the vote count on the current page
 */
function vote(vote_type, rel_id) {
  var URL = "{{ url_for('vote') }}";
  $.post(URL,{rel_id: rel_id, username: username, vote_type: vote_type}, 
  function (data)
  {
    updateVC(rel_id, data.uv_c, data.dv_c);
  });
  return false;
}

/**
 * Creates a node dom element from the given rel id
 */
function createNodeElement(rel_id) {
  var rel = rel_list[rel_id];
  var item = item_list[rel.child];
  //var node = node_list[rel_id];

  if (item.tldr === '_root_title_') {
    item.tldr = 'Welcome to Avalon';
    item.body = "Avalon is a place for collaborating with each other to solve our world's problems. Browse through the discussion and feel free to contribute."
  }

  //returns the element for the up/down vote icon
  var vote_element = function (type) {
    var icon = (type === 'up')?'+':'-';
    var ele = $('<a />')
        .addClass('nv-' + type)
        .attr('href', '#')
        .attr('onclick', "return vote('" + type + "', '" + rel._id + "')")
        //.click(vote(type, rel._id))
        .text(icon);
    return ele;
  }

  if (rel._id === 'root') {
    var votecount = $('<span />')
        .css('visibility', 'hidden')
        .addClass('node-vc')
        .append("__");
  }

  else {
    var vc_num = $('<span />')
        .addClass('vc-num')
        .text(rel.upvotes - rel.downvotes);

    var votecount = $('<span />')
        .addClass('node-vc')
        .append(vote_element('up'), vote_element('down'), vc_num);
  }

  var node_tldr = ""
  if (!(item.tldr === "" || !(item.tldr))) {
    var tldr_tag = $('<span />')
        .addClass('node-tldr-tag')
        .append('tldr:')

    var node_tldr = $('<span />')
        .addClass('node-tldr span7')
        //.append(vote_element('up'), votecount, tldr, vote_element('down'));
        .append(tldr_tag, item.tldr);
  }

  var disc_link = $('<a />')
      .addClass('disc-link')
      .attr('href', "/view/" + item._id)
      .text('View Discussion');

  var body = $('<span />')
      .addClass('node-body span7')
      .append(item.body, '<br />', disc_link);

  var tags_div = $('<span />')
      .addClass('tags span7')
      .text("Tags: " + item.tags.join(', '));

  var post_button = $('<button />')
      .addClass('btn post-button')
      .text('Reply');

  var by_user = $('<a />')
      .addClass('by-user')
      .attr('href', 'u/' + item.user + '/item')
      //.attr('onclick', 'return false')
      .text(item.user);

  var mi_button = $('<a />')
      .addClass('mi-button')
      .attr('href', '#')
      .attr('onclick', 'return false')
      .text("More options")

  //add linked by info if necessary
  var linked_by = $('<span />');
  if (rel.linked_by !== null) {
    var lb_link = $('<a />')
        .attr('href', '#')
        .attr('onclick', 'return false')
        .text(rel.linked_by)

    linked_by
        .text('Linked by ')
        .append(lb_link);
  }

  var node_footer = $('<div />')
      .addClass('node-footer span7')
      .append(by_user, linked_by, post_button, mi_button);
      

  var node_element = $('<span />')
      .addClass('node')
      .attr('id', 'n_' + rel._id)
      //.append(node_tldr, body, tags_div, node_footer);
      .append(votecount, body, node_tldr, node_footer);

  return node_element;
}

/**
 * Creates a child dom element from the given rel id
 */
function createChildElement(rel_id, type) {
  var rel = rel_list[rel_id];
  var item = item_list[rel.child];

  // var new_tldr = item.tldr;
  // if (new_tldr === "" || !(new_tldr)) {
  //   new_tldr = item.body.substr(0, 50);
  // }
  var tldr = $('<div />')
      .addClass('child-tldr span7')
      .text(getDisplay(item, 48));

  var body = $('<div />')
      .addClass('child-body span7')
      .text(item.body);

  var votecount = $('<span />')
      .addClass('child-vc')
      .text(rel.upvotes - rel.downvotes);

  var tldr_body = $('<span />')
      //.css({"display": "block", "float": "left"})
      .addClass('child-content')
      .append(tldr/*, body*/);

  var child_link = $('<a />')
      .addClass('child-link')
      .attr('name', 'cl_' + rel_id)
      .attr('href', '#')
      .attr('onclick', "return false;")
      //.click(displayChild(rel._id, 'child'))
      //.click(function(){displayChild(rel._id, this)})
      .append(tldr_body)
      .on('hover', function() {
        $(this).parent().addClass('hover-hl')
      }, function() {
        $(this).parent().removeClass('hover-hl')
      });

  var child_element = $('<li />')
      .addClass('child')
      .attr('id', 'c_' + rel._id)
      //.text(rel.upvotes - rel.downvotes)
      .append(votecount, child_link);

  return child_element;
}

//var slide = function (id_string) {
function makeslide(id_string) {
    var ele = $('<span />')
        .addClass('span8 node-slide')
        .attr('id', id_string);
    return ele;
}

/*
 * Create the initial parent and child node-slides
 */
function createInitalSlides() {
  var initial_slides = [makeslide('parent-node'), makeslide('child-node')];
  slide_list = slide_list.concat(initial_slides);
  $('#slides-container').append(initial_slides[0], initial_slides[1]);
  return $('.node-slide');
}

/*
 * creates the postdiv for a node
 */
function createPostDiv(type) {
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;
  var item_id = rel_list[slide_id].child;

  var tldr_label = $('<label />').html('tldr: <span class="tldr-msg">(Not required)</span>');
  var tldr_input = $('<input />')
      .addClass('span7')
      .attr('type', 'text')
      .attr('name', 'tldr');
  tldr_input = inputDiv().append(tldr_input);
  tldr_input = clearfix().append(tldr_label, tldr_input);

  var body_label = $('<label />').text('Body:');
  var body_input = $('<textarea />')
      .addClass('span7')
      .attr('name', 'body')
      .attr('rows', 3);
  body_input = inputDiv().append(body_input);
  body_input = clearfix().append(body_label, body_input);

  var tags_label = $('<label />').text('Tags:');
  var tags_input = $('<input />')
      .addClass('span7')
      .attr('type', 'text')
      .attr('name', 'tags');
  tags_input = inputDiv().append(tags_input);
  tags_input = clearfix().append(tags_label, tags_input);

  var parent_input = $('<input />')
      .attr('type', 'hidden')
      .attr('name', 'parent')
      .val(item_id);

  // var post_button = $('<input />')
  //     .attr('type', 'submit')
  //     .val('Submit Post');

  var post_button = $('<button />')
      .addClass('btn pr-button')
      .text('Submit Post');

  var post_form = $('<div />')
      .addClass('form-stacked')
      .append(body_input, tldr_input, parent_input, post_button);

  var post_div = $('<span />')
      .addClass('post-div')
      //.append(post_form, link_form);
      .append(post_form);

  slide.find('.node').append(post_div);
}

/*
 * creates the parents div for a node
 */
function createParentsDiv(type) {
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;

  var parent = function(item_id) {
    var parent_link = $('<a />')
        .attr('href', '/i/' + item_id)
        //.attr('onclick', 'return false;')
        .addClass('parent-link')
        .text(getDisplay(item_list[item_id]))
        // .click(function() {
        //   var sl = slide_list.length;
        //   var sliceammount = sl - currentPosition;
        //   slide_list = slide_list.splice(currentPosition, sliceammount);

        //   if (type === 'parent') {
        //     slide_list.unshift(makeslide('parent-node'));
        //     child_id = parent_id;
        //     parent_id = item_id;
        //     currentPosition = 1;
        //     shiftSlides(-1);
        //   }
        //   else {
        //     currentPosition = 0;
        //     parent_id = item_id;
        //   }

        //   renderSlide('parent');
        //   renderSlide('child');
        // });
    return parent_link;
  }

  slide_parents = node_list[slide_id].parent_ids;

  var parent_links = [];
  for (var i = 0; i < slide_parents.length && i < 5; i++) {
    parent_links.push(parent(slide_parents[i]));
  }

  var parents_div = $('<div />')
      .addClass('opt-div parents-div')
      .text('Parents: ')
      //.append(parent_links);

  for (var i = 0; i < slide_parents.length && i < 5; i++) {
    parents_div.append(parent(slide_parents[i]), " ");
  }

  return parents_div;
  //slide.find('.node').append(parents_div);
}

/*
 * creates the link div for a node
 * @todo: need to finish this
 */
function createLinkDiv(type) {
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;
  var this_item = item_list[rel_list[slide_id].child];

  var item_label = $('<label />').text("Linked item's id:");
  var item_input = $('<input />')
      .addClass('span7')
      .attr('type', 'input')
      .attr('name', 'link_id');
  item_input = inputDiv().append(item_input);
  item_input = clearfix().append(item_label, item_input);

  var link_button = $('<button />')
      .addClass('btn')
      .text('Submit Link')
      .click(function () {
        var URL = "{{ url_for('addLink') }}";
        var link_id = $(this).parent().find('input[name="link_id"]').val();

        $.post(URL,{parent: this_item._id, username: username, link_item: link_id}, 
        function (data)
        {
          //add the info for the new link relation to the local info 
          node_list[slide_id].child_rel_ids.push(data.new_rel._id);
          rel_list[data.new_rel._id] = data.new_rel;
          item_list[data.rel_child._id] = data.rel_child;
          // user_list[data.child_user.name] = data.child_user;
          
          //rerender
          renderSlide('parent');
          renderSlide('child');
        });
        return false;
      });

  var post_form = $('<div />')
      .addClass('form-stacked')
      .css('padding', '0px')
      .append(item_input, link_button);

  var link_div = $('<div />')
      .addClass('opt-div link-div')
      .append(post_form);
 

  return link_div;
}

function deleteItem(d_id, cb_func) {
  var URL = "{{ url_for('deleteItem') }}";
  $.post(URL,{username: username, item_id: d_id}, 
  function (data)
  {
    cb_func();
  });
}

function deleteRel(d_rel_id, cb_func) {
  var URL = "{{ url_for('deleteRel') }}";
  $.post(URL,{username: username, rel_id: d_rel_id}, 
  function (data)
  {
    cb_func();
  });
}

function subscribeToItem(s_item_id, cb_func) {
  var URL = "{{ url_for('subscribeToItem') }}";
  $.post(URL,{username: username, item_id: s_item_id}, 
  function (data)
  {
    cb_func();
  });
}

function removeItemsFromArray(array, loi) {
  var i = 0;
  var removedany = false;
  while (i < array.length) {
    if (loi.indexOf(array[i]) !== -1) {
      array.splice(i, 1);
      removedany = true;
    } 
    else {
      i++;
    }
  }

  return removedany
}

function getRelIds(c_id) {
  var ret_rel_ids = [];
  for (var key in rel_list) {
    if (rel_list[key].child === c_id) {
      if (key === 'root') ret_rel_ids.push(key);
      ret_rel_ids.push(parseInt(key, 10));
    }
  }
  return ret_rel_ids;
}

function removeItemLocally(r_id) {
  $('#c_' + r_id).remove()
  rel_ids = getRelIds(r_id);
  for (var key in node_list) {
    node_list[key].child_rel_ids = removeItemsFromArray(node_list[key].child_rel_ids, rel_ids);
  }
}

/*
 * creates the delete div for a node
 */
function createDeleteDiv(type) {
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;
  var d_item = item_list[rel_list[slide_id].child];
  var d_parent = item_list[rel_list[slide_id].parent];

  var yes_btn = $('<button />')
      .addClass('btn')
      .css('margin-right', '20px')
      .text('Yes')
      .click(function() {
        $(this).parent().html("Deleting...");
        deleteRel(slide_id, function() {
          // slide.html("This link was deleted");
          //removeItemLocally(d_item._id);
          alert("This item was deleted")
          for (var key in node_list) {
            if (removeItemsFromArray(node_list[key].child_rel_ids, [slide_id])) {
              break;
            }
          }

          oldcp = currentPosition;
          shiftSlides(-1);
          parent_id = getIdOf(slide_list[currentPosition]);
          if (type === 'parent' || oldcp < 1) {
            child_id = -1;
          }
          else {
            child_id = getIdOf(slide_list[currentPosition + 1]);
          }

          renderSlide('parent');
          renderSlide('child');
        });
      });

  var no_btn = $('<button />')
      .addClass('btn')
      .text('No')
      .click(function() {
        $(this).parent().hide('fast');
      });

  var del_div = $('<div />')
      .addClass('opt-div del-div')
      .append('Are you sure you want to delete this item? <br />', yes_btn, no_btn);

  return del_div;
}

/*
 * creates the subscribe div for a node
 */
function createSubDiv(type) {
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;
  var d_item = item_list[rel_list[slide_id].child];
  var d_parent = item_list[rel_list[slide_id].parent];

  var yes_btn = $('<button />')
      .addClass('btn')
      .css('margin-right', '20px')
      .text('Yes')
      .click(function() {
        $tp = $(this).parent();
        $tp.html("Subscribing...");
        subscribeToItem(d_item._id, function() {
          // slide.html("This link was deleted");
          //removeItemLocally(d_item._id);
          alert("You are now subscribed to this item.\n Now you can see new posts and comments to this item in your profile page.");
          $tp.hide('fast');
        });
      });

  var no_btn = $('<button />')
      .addClass('btn')
      .text('No')
      .click(function() {
        $(this).parent().hide('fast');
      });

  var del_div = $('<div />')
      .addClass('opt-div subscribe-div')
      .append('Are you sure you want to subscribe to this item? <br />', yes_btn, no_btn);

  return del_div;
}

/*
 * creates the edit div
 */
function createEditDiv(type) {
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;
  var e_item = item_list[rel_list[slide_id].child];

  var tldr_label = $('<label />').text('tldr:');
  var tldr_input = $('<input />')
      .addClass('span7')
      .attr('type', 'text')
      .attr('name', 'tldr')
      .val(e_item.tldr);
  tldr_input = inputDiv().append(tldr_input);
  tldr_input = clearfix().append(tldr_label, tldr_input);

  var body_label = $('<label />').text('Body:');
  var body_input = $('<textarea />')
      .addClass('span7')
      .attr('name', 'body')
      .attr('rows', 3)
      .text(e_item.body);;
  body_input = inputDiv().append(body_input);
  body_input = clearfix().append(body_label, body_input);

  var post_button = $('<button />')
      .addClass('btn ed-button')
      .text('Submit Edit')
      .click(function () {
        var URL = "{{ url_for('editItem') }}";
        var new_tldr = $(this).parent().find('input[name="tldr"]').val();
        var new_body = $(this).parent().find('textarea[name="body"]').val();

        $.post(URL,{item_id: e_item._id, username: username, tldr: new_tldr, body: new_body}, 
        function (data)
        {
          item_list[e_item._id].tldr = data.tldr;
          item_list[e_item._id].body = data.body;

          renderSlide('parent');
          renderSlide('child');
        });
        return false;
      });

  var post_form = $('<div />')
      .addClass('form-stacked')
      .css('padding', '0px')
      .append(body_input, tldr_input, post_button);

  var edit_div = $('<div />')
      .addClass('opt-div edit-div')
      .append(post_form);;

  return edit_div;
}

function createCIDiv(type) {
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;
  var ci_item = item_list[rel_list[slide_id].child];

  var link_id = $('<code />')
      .css('font-size', '111%')
      .append(ci_item._id);

  var ci_div = $('<div />')
      .addClass('opt-div copy-id-div')
      .append("Link ID:  ", link_id);

  return ci_div;
}

/*
 * creates the more options div for a node
 */
function createMoreDiv(type) {
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;
  var m_item = item_list[rel_list[slide_id].child];

  var moreBtnHandler = function() {
    if ($(this).parents('#parent-node').length === 0) {
      var from = 'child';
    }
    else {
      var from = 'parent';
    }

    var md = $(this).parent();
    var buttons = ['parents-btn', 'link-btn', 'del-btn', 'edit-btn', 'copy-id-btn', 'subscribe-btn'];
    var divs = ['.parents-div', '.link-div', '.del-div', '.edit-div', '.copy-id-div', 'subscribe-div'];
    var funcs = [createParentsDiv, createLinkDiv, createDeleteDiv, createEditDiv, createCIDiv, createSubDiv];

    var idof = buttons.indexOf($(this).attr('class'));
    if (idof === -1) return;

    if (md.find(divs[idof]).length === 0) {
      md.find('.opt-div').hide();
      md.append(funcs[idof](from));
      return;
    }

    md.find('.opt-div').hide();
    md.find(divs[idof]).show('fast');
  }

  var parents_btn = $('<a />')
      .addClass('parents-btn')
      .attr('href', '#')
      .attr('onclick', 'return false;')
      .text('View Parents')
      .click(moreBtnHandler);

  var link_btn = $('<a />')
      .addClass('link-btn')
      .attr('href', '#')
      .attr('onclick', 'return false;')
      .text('Link an item')
      .click(moreBtnHandler);

  var copy_id_btn = $('<a />')
      .addClass('copy-id-btn')
      .attr('href', '#')
      .attr('onclick', 'return false;')
      .text('Get link ID')
      .click(moreBtnHandler);

  var subscribe_btn = $('<a />')
      .addClass('subscribe-btn')
      .attr('href', '#')
      .attr('onclick', 'return false;')
      .text('Subscribe')
      .click(moreBtnHandler);

  if (m_item.user === username || rel_list[slide_id].linked_by === username) {
    var del_btn = $('<a />')
        .addClass('del-btn')
        .attr('href', '#')
        .attr('onclick', 'return false;')
        .text('Delete')
        .click(moreBtnHandler);

    if (m_item.user === username) {
      var edit_btn = $('<a />')
          .addClass('edit-btn')
          .attr('href', '#')
          .attr('onclick', 'return false;')
          .text('Edit')
          .click(moreBtnHandler);
    }
  }
  else {
    var del_btn = "",
        edit_btn = "";
  }

  close_btn = $('<a />')
      .addClass('more-close')
      .attr('href', '#')
      .attr('onclick', 'return false;')
      .text('Close')
      .click(function() {
        $(this).parent().hide('fast');
      });

  more_div = $('<div />')
      .addClass('span7 more-div')
      .append(parents_btn, link_btn, del_btn, edit_btn, copy_id_btn, subscribe_btn, close_btn);

  slide.find('.node').append(more_div);
}

/**
 * Renders either the child slide or the parent slide.
 * Fetches an item and it's children from the server if the item isn't in the node_list
 * renders a blank slide if the child_id is -1
 */
function renderSlide(type) { 
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;

  if (slide_id < 0) {
    slide.empty();
    return;
  }

  //if node information isn't store locally, get the info from server
  if (!(inNodeList(slide_id))) {
    slide.html('Loading...');
    var URL = "{{ url_for('grabRel') }}";
    $.post(URL, {rel_id: slide_id}, 
    function (data)
    {
      addNodeInfo(data);
      //rerender the slide to overwrite 'Loading...'
      renderSlide(type);
    });

    return;    
  }

  var node = node_list[slide_id];

  var children_list = $('<ul />').attr('id', 'clist-' + node.id);
  for (var i = 0; i < node.child_rel_ids.length; i++) {
    children_list.append(createChildElement(node.child_rel_ids[i], type));
  };

  var children = $('<span />')
      .addClass('children')
      .append(/**$('<h2 />').text('Children'),*/ children_list);

  slide
    .empty()
    .append(createNodeElement(node.id), children);
}

/**
 * Changes the parent node and child node to the nodes at the current position
 */
function updateNodes() {
  $('#parent-node').removeAttr('id');
  $('#child-node').removeAttr('id');
  slide_list[currentPosition].attr('id', 'parent-node');
  slide_list[currentPosition + 1].attr('id', 'child-node');
}

/**
 * shifts slides and sets the currentPosition
 */
function shiftSlides(shift_num) {
  //create an empty slide element if we have to add elements to the slide_list
  //checks if the list of slides is smaller than the min number of slides needed for the shift
  //currentPos is always at maximum 2 smaller than the length of the slide_list
  //if (slide_list.length < currentPosition + 2 + shift_num) {
    var ele = $('<span />').addClass('span8 node-slide')
  //}
  for (var i = 0; i < (currentPosition + 2 + shift_num) - slide_list.length; i++) {
    slide_list.push(ele);
    $('#slideInner').append(ele);
  }

  if (shift_num < 0) {
    //checks whether the number we're shifting goes further than the start of the list of slides
    if (currentPosition + shift_num < 0) return false;

    for (var i = 0; i > shift_num; i--) {
      $('#child-node').remove();
      slide_list.pop();
    }
  }

  currentPosition += shift_num;
  numberOfSlides += shift_num;
  updateNodes();
  $('#slideInner').css('width', slideWidth * numberOfSlides + 1);
  $('#slideInner').animate({'marginLeft' : -20 + slideWidth*(-currentPosition)});
  return true;
}

/*
 * Highlights the child list element of the current child
 */
function highlightChild() {
  if (!child_id) return;
  $('.child-highlight').removeClass('child-highlight');
  $("#c_" + child_id).addClass("child-highlight");
}

/**
 * Display the selected child and updates the child and parent ids
 */
function displayChild(rel_id, from) {
  if (from === 'parent') {
    child_id = rel_id;
    renderSlide('child');
  }
  else {
    shiftSlides(1);
    parent_id = child_id;
    child_id = rel_id;
    //renderSlide('parent');
    $('#parent-node').html(slide_list[currentPosition].html());
    renderSlide('child');
  }
  highlightChild();
  return false;
}

//inital values
{% if nd %}
  var root_node_info = eval({{ nd|tojson|safe }});
  root_node_info.rel = {
    _id: 'root',
    child: root_node_info.item._id,
    linked_by: null,
  };
  addNodeInfo(root_node_info);
{% endif %}
</script>
<script type="text/javascript" language="javascript">
//DOCUMENT READY ==============================================================
$(document).ready(function() {
  slides = createInitalSlides();
  numberOfSlides = slides.length;

  var doc = $(document);

  // Remove scrollbar in JS
  $('.slides-container').css('overflow', 'hidden');

  // Wrap all .slides with #slideInner div
  slides
    .wrapAll('<div class="row" id="slideInner"></div>')
    // Float left to display horizontally, readjust .slides width
    //.css({'float' : 'left', 'width' : slideWidth});

  // Set #slideInner width equal to total width of all slides
  //$('#slideInner').css('width', slideWidth * numberOfSlides);

  renderSlide('parent');
  var disp_id;
  var from;

  //display the clicked child node
  doc.on("click", '.child-link', function() {
    if ($(this).parents('#parent-node').length === 0) {
      from = 'child';
    }
    else {
      from = 'parent';
    }

    disp_id = $(this).attr('name').split('_')[1];

    if (disp_id === child_id) {
      if (!shiftSlides(-1)) return;
      parent_id = getIdOf(slide_list[currentPosition]);
      child_id = getIdOf(slide_list[currentPosition + 1]);
      highlightChild();
      return;
    }

    displayChild(disp_id, from);
  });

  //toggle the post reply div
  doc.on('click', '.post-button', function() {
    if ($(this).parents('#parent-node').length === 0) {
      from = 'child';
    }
    else {
      from = 'parent';
    }
    var from_selector = $('#' + from + '-node');

    if (from_selector.find('.post-div').length === 0) {
      createPostDiv(from);
      $(this).text('Hide')
      return;
    }
    from_selector.find('.post-div').slideToggle('fast');
    if ('Reply' === $(this).text()) {
      $(this).text('Hide')
    }
    else {
      $(this).text('Reply')
    }
  });

  //submit an item
  doc.on('click', '.pr-button', function() {
    if ($(this).parents('#parent-node').length === 0) {
      from = 'child';
    }
    else {
      from = 'parent';
    }
    var from_selector = $('#' + from + '-node');
    var slide_id = (from === 'parent')?parent_id:child_id;

    var pr_form = $(this).parent();
    var pr_id = pr_form.parents('.node').attr('id').split('_')[1]

    var pr_tldr = pr_form.find('input[name="tldr"]').val();
    var pr_body = pr_form.find('textarea[name="body"]').val();
    var pr_parent = pr_form.find('input[name="parent"]').val();

    pr_div = pr_form.parent()
    pr_div.html('Submitting....');
    var URL = "{{ url_for('add_entry') }}";
    $.post(URL,{username: username, tldr: pr_tldr, body: pr_body, parent: pr_parent, tags: ""}, 
    function (data)
    {
      item_list[data.item._id] = data.item;
      rel_list[data.rel._id] = data.rel;
      //node_list[slide_id].child_rel_list.push(data.rel.id)
      //user_list[data.user.name] = data.user;
      from_selector.find('.post-button').text('Reply')
      pr_div.remove();
      $('#clist-' + pr_id).prepend(createChildElement(data.rel._id));
    });
  });

  doc.on("mouseenter", ".node-footer", function() {
        $(this).find('.mi-button').show();
      })
      .on("mouseleave", ".node-footer", function() {
        $(this).find('.mi-button').hide();
      });

  doc.on('click', '.mi-button', function() {
    if ($(this).parents('#parent-node').length === 0) {
      from = 'child';
    }
    else {
      from = 'parent';
    }
    var from_selector = $('#' + from + '-node');

    if (from_selector.find('.more-div').length === 0) {
      createMoreDiv(from);
      return;
    }
    from_selector.find('.more-div').slideToggle('fast');
  });

  doc.hover()

  //shift back one level
  $('#back').on("click", function(){
    if (!shiftSlides(-1)) return;
    parent_id = getIdOf(slide_list[currentPosition]);
    child_id = getIdOf(slide_list[currentPosition + 1]);
    highlightChild();
  });
});
</script>
{% endblock %}
{% block body %}
  <!-- <div id="back"><a href="#" onclick="return false;">Back</a></div> -->
  <div id="slides-container">
    <br />
  </div>
{% endblock %}