{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <div class="register">
    <form action="{{ url_for('register') }}" method="post">
      <dl>
        <dt>Username:
        <dd><input type="text" size="30" name="username">
        <dt>Email:
        <dd><input type="text" size="64" name="email">
        <dt>Password:
        <dd><input type="password" size="30" name="password">
        <dt>Retype Password:
        <dd><input type="password" size="30" name="password_rt">
        <dd><input type="submit" value="Register">
      </dl>
    </form>
  </div>
{% endblock %}