<!DOCTYPE html>
<title>Avalon</title>
<link rel="stylesheet/less" type="text/css" href="static/bootstrap/lib/bootstrap.less">
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='avalon.less') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.js') }}"> </script>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $('#{{ tab }}').addClass('active');
});
</script>
{% block header %}{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='less-1.1.5.min.js') }}"></script>
<div class=page>
  <div class="container">
    <ul class="tabs">
      <a id="home-text"  href="{{ url_for('index') }}" ><span class="h1">Avalon</span></a>
      <li id="browse-tab"><a href="{{ url_for('index') }}">Browse</a></li>
      <li id="view-tab"><a href="#" onclick="return false;">View</a></li>
      <li id="profile-tab"><a href="#" onclick="return false;">Profile</a></li>
      <li id="about-tab"><a href="{{ url_for('aboutPage') }}">About</a></li>
      <span id="right-links">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">Login</a> | 
        <a href="{{ url_for('register') }}">Register</a>
      {% else %}
        {{ session.username }} |
        <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
      </span>
    </ul>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
