<!--<span class="node" id="n_<%= is_root ? 'root' : id %>">-->
	<span class="node-vc">
		<a class="nv-up" href="#" data-bypass onclick="return false;">+</a>
		<a class="nv-down" href="#" data-bypass onclick="return false;">-</a>
		<span class="vc-num"><%= upvotes - downvotes %></span>
	</span>
	<span class="node-body span7">
		<%= child.body %><br>
		<a class="disc-link" href="/view/<%= child.id %>">View Discussion</a>
	</span>
	<span class="node-tldr span7">
		<span class="node-tldr-tag">tldr:</span>
		<%= child.display_tldr %>
	</span>
	<div class="node-footer span7">
		<a class="by-user" href="u/<%= linked_by %>/item"><%= linked_by %></a>
		<span></span>
		<button class="btn post-button">Reply</button>
		<a class="mi-button" data-bypass href="#" onclick="return false;">More options</a>
	</div>
<!-- </span> -->