<span style="display: none" class="post-div">
	<div class="form-stacked">
		<div class="clearfix">
			<label>Body:</label>
			<div class="input">
				<textarea class="span7" name="body" rows="3"></textarea>
			</div>
		</div>
		<div class="clearfix">
			<label>tldr: <span class="tldr-msg">(Not required)</span></label>
			<div class="input">
				<input class="span7" type="text" name="tldr">
			</div>
		</div>
		<input type="hidden" name="parent">
		<button class="btn pr-button">Submit Post</button>
	</div>
</span>